body {
	font-family: 'Montserrat', sans-serif;
}

header {
	background: #7b7b7b;
	padding: 0,2px;
}
.imagemlogo{
	width: 110px;
}
.caixa {
	position: relative;
	width: 1200px;
	margin: 0 auto;
}
.imagemlogoprodutos{
	width: 110px;
}

nav {
	position: absolute;
	top: 42px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 16px;
	text-decoration: none;
}

nav a:hover {
	color: #3f0000;
	text-decoration: underline;
}

.produtos {
	width: 900px;
	margin: 0 auto;
	padding: 50px ;
}
.produtos a{
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 16px;
	text-decoration: none;

}


.produtos li {
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 30px;
}

.produtos li:hover {
	border-color: #3f0000;
}

.produtos li:active {
	border-color: #3f0000;	
}

.produtos li:hover h2 {
	font-size: 34px;
}

.produtos h2 {
	font-size: 30px;
	font-weight: bold;
}

.produto-descricao {
	font-size: 18px;
}

.produto-preco {
	font-size: 22px;
	font-weight: bold;
	margin-top: 10px;
}
.imagemprodutos{
	width: 220px;
}
.imagemcontato{
	width: 220px;
}
.contato{
	width: 900px;
	margin: 0 auto;
	padding: 50px ;
		
}
.contato a{
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 16px;
	text-decoration: none;

}
.contato li{
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 30px;
}
.contato:hover{
	border-color: #3f0000;
}
.contato:active{
	border-color: #3f0000;
}
footer {
	text-align: center;
	background: url("bg.png");
	padding: 40px 0;
	
}
.logofooter{
	width: 300px;
}

.imagem-logologo-branco{
	width: 300px;
}

.copyright {
	color: #FFFFFF;
	font-size: 13px;
	margin: 20px 0 0;
}

main { 

	
}

.sobre {



}
form {
	margin: 40px 0;
}

form label, form legend {
	display:block;
	font-size: 20px;
	margin: 0 0 10px;
}

.input-padrao {
	display: block;
	margin: 0 0 20px;
	padding: 10px 25px;
	width: 50%;
}

.checkbox {
	margin: 20px 0;
}

.enviar {
	width:40%;
	padding: 15px 0;
	background: orange;
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	transition: 1s all;
	cursor: pointer;
}

.enviar:hover {
	background: darkorange;
	transform: scale(1.2);
}

table {
	margin: 20px 0 40px;
}

thead {
	background: #555555;
	color: white;
	font-weight: bold;
}

td, th {
	border: 1px solid #000000;
	padding: 8px 15px;
}


/* css da página inicial */

.banner {
	width:100%;
	background: #7b7b7b;
	box-shadow: 11px 11px 11px 0 #000000;

}

.titulo-principal {
	text-align: center;
	font-size: 2em;
	margin: 0 0 1em;
	clear: left;
}

.principal {
	padding: 3em 0;
	background: #c9c9c9;
	width: 940px;
	margin: 0 auto;
}

.principal p {
	margin: 0 0 1em;
}

.principal strong {
	font-weight: bold;
}

.principal em {
	font-style: italic;
}

.utensilios {
	width: 120px;
	float: left;
	margin: 0 20px 20px 0;
}

.mapa {
	padding: 3em 0;
	background:  #c9c9c9;
	
}

.mapa-conteudo {
	width: 900px;
	margin: 0 auto;
	box-shadow: 10px 10px 10px 0 #242424;
}

.mapa p {
	margin: 0 0 2em;
	text-align: center;
}

.beneficios {
	padding: 3em 0;
	background: #c9c9c9;
}

.conteudo-beneficios {
	width: 640px;
	margin: 0 auto;
}

.lista-beneficios {
	width: 40%;
	display: inline-block;
	vertical-align: top;
}

.itens {
	line-height: 1.5;
}

.itens:first-child {
	font-weight: bold;
}

.itens:before {
	content: "🟊";
}

.imagem-beneficios {
	width: 60%;
	opacity: 1;
	transition: 400ms;
	box-shadow: 10px 10px 10px 0 #242424;
}

.imagem-beneficios:hover {
	opacity: 0.3;
}

.video {
	width: 560px;
	margin: 2em auto;
}

@media screen and (max-width: 480px) {
	.caixa, .principal, .conteudo-beneficios, .mapa-conteudo, .video {
		width: auto;
	}

	h1 {
		text-align: center;
	}

	nav {
		position: static;
	}

	.lista-beneficios, .imagem-beneficios {
		width: 100%;
	}
}